

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;   
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
/* override the bootstrap container width */
.container {
    max-width: 95%;
}

/* our three main columns */
.long-col {
    border-right: 1px #aaa solid;
    margin-top: 5px;
}

#option-column {
    overflow-y:auto;
    height:600px;

        
}

.wrapper { 
    /* -moz-border-radius: 5px; */
    overflow-x:scroll;
    float:left;
    width:100%;
    

 }
.scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    overflow : scroll; /* ! */
    white-space : nowrap; /* ! */
    width:255px;
} 

#itenerary-column {
    border: none;
}

/* the map, of course */
#map {
    height: 100%;
    min-height: 600px;
}

.marker-label {
    border: 1px solid black;
    border-radius: 18px;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.itenerary-column-header {
    padding-bottom: 10px;
    text-align: center;
}


.major-column-header {
    text-align: center;
}


/* helper class for hiding */
.hidden {
    display: none;
}

/* buttons for landing page */
#landing-date-planning {


}

.addVenue {

    max-width: 30%;
    min-height: 100px;
    background-color: #428bca;
    opacity: 1;
    border-radius: 6px;
    margin-bottom: 2px;
        margin: 0px;
    padding:0px;

}

.VenueGroup {
    overflow:hidden;
    }

#venue1 {
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0px;
    padding:0px;

    position: relative;

}

#venue2 {
width:100%;
    overflow:hidden;
    float:left;
   margin: 0px;
    padding:0px;
    position: relative;

}

#venue3 {
   
  width:100%;
    overflow:hidden;
    float:left;
    position: relative;
}

#category1params{

}

#category2params{
    
}

#category3params{
    
}

.price {
    float: right;
    margin: 0;

}

.trending {
    float: right;
    margin: 0;
}


.landing-form {
  width: 40%;
  height: 34px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.itenerary-item {
}

/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
}

.itenerary-option-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 0.8em;
    opacity: 0.9;
}

.itenerary-item-text {
    font-size: 1.5em;
    text-align: center;
}

.itenerary-item-details {
    text-align: right;
    letter-spacing: 0.02em;
}

.itenerary-arrow-transition {
    text-align: center;
}

.coffee-color {
    background-color: rgba(255, 215, 128, 0.8);
}

.park-color {
    background-color: rgba(0, 225, 75, 0.8);
}

.restaurant-color {
    background-color: rgba(225, 0, 25, 0.8);
}

.bar-color {
    background-color: rgba(200, 200, 200, 0.8);
}

.shopping-color {
    background-color: rgba(155, 100, 200, 0.8);
}

.outdoors-color {
    background-color: rgba(100, 150, 175, 0.8);
}

.sights-color {
    background-color: rgba(50, 75, 100, 0.8);
}

.hotspots-color {
    background-color: rgba(25, 25, 200, 0.8);
}

.category-options {
}

.place_thumbnail
{
    float: left;
    width: 70px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    white-space: normal;

}

.thumb_personal {
  border: 2px solid orange;
}

.thumb_suggested {
  border: 2px solid #428bca ;
}

.thumb_selected {
  border: 2px solid red;
}

.thumb_personal:hover, .thumb_personal:focus,
.thumb_suggested:hover, .thumb_suggested:hover,
.thumb_selected:hover, .thumb_selected:hover {
  border: 2px solid green;
}

.clear_both { clear: both; }

.special-well {
  min-height: 20px;
  padding: 12px;
  margin-bottom: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}









