

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;   
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
/* override the bootstrap container width */
.container {
    max-width: 95%;
}

/* our three main columns */
.long-col {
    border-right: 1px #aaa solid;
    margin-top: 5px;
}

#option-column {
    overflow-y:auto;
    height:600px;
}

#itenerary-column {
    border: none;
}

/* the map, of course */
#map {
    height: 100%;
    min-height: 600px;
}

.marker-label {
    border: 1px solid black;
    border-radius: 18px;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.itenerary-column-header {
    padding-bottom: 10px;
    text-align: center;
}

.major-column-header {
    text-align: center;
}

/* helper class for hiding */
.hidden {
    display: none;
}

/* buttons for landing page */
#landing-date-planning {

}

.itenerary-item {
}

/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
}

.itenerary-option-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 0.8em;
    opacity: 0.9;
}

.itenerary-item-text {
    font-size: 1.25em;
}

.itenerary-item-details {
}

.itenerary-arrow-transition {
    text-align: center;
}

.coffee-color {
    background-color: rgba(255, 215, 128, 0.8);
}

.park-color {
    background-color: rgba(0, 225, 75, 0.8);
}

.museum-color {
    background-color: rgba(225, 0, 25, 0.8);
}

.bar-color {
    background-color: rgba(200, 200, 200, 0.8);
}

.category-options {
}

.place_thumbnail
{
    float: left;
    width: 60px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;
}

.thumb {
  border: 1px solid gray ;
}
.thumb:hover {
  border: 2px solid green;
}

.clear_both { clear: both; }












