

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;   
}

/* override the bootstrap container width */
.container {
    max-width: 95%;
}

/* our three main columns */
.long-col {

}

/* the map, of course */
#map {
    height: 100%;
    min-height: 600px;
}

.marker-label {
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    border-radius: 18px;
    cursor: pointer;
}

<<<<<<< HEAD
/* helper class for hiding */
.hidden {
    display: none;
}

/* buttons for landing page */
#landing-date-planning {

}

=======
/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
}
>>>>>>> 9ccbe4da3902cc65b3f24d31011075d08bb0c9dd













