

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;   
}

/* override the bootstrap container width */
.container {
    max-width: 95%;
}

/* our three main columns */
.long-col {
    border-right: 1px #aaa solid;
    margin-top: 5px;
}

#option-column {

}

#itenerary-column {
    border: none;
}

/* the map, of course */
#map {
    height: 100%;
    min-height: 600px;
}

.marker-label {
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    border-radius: 18px;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.itenerary-column-header {
    padding-bottom: 10px;
    text-align: center;
}

/* helper class for hiding */
.hidden {
    display: none;
}

/* buttons for landing page */
#landing-date-planning {

}

/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}

.itenerary-item {

}

/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
}

.itenerary-item-text {
    padding-left: 5px;
    font-size: 1.2em;
}

.itenerary-arrow-transition {
    text-align: center;
}

.place_thumbnail
{
    float: left;
    width: 60px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;
}

.clear_both { clear: both; }












