

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
  }

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    color: #111;
    background: #FFB6C1;

    margin-bottom: 0px;
    margin-left: -5px;

    height: 40px;
    line-height: 40px;
    font-size: 1.75em;
    letter-spacing: 0.05em;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}

/* override the bootstrap container width */
.container {
    max-width: 100%;
}

/* our three main columns */
.long-col {
    margin-top: 5px;
}

#option-column {
    overflow-y:auto;
    border-right: 1px #aaa solid;
    border-left: 1px #aaa solid;
    height:610px;
    min-height: 610px;
    /*text-align: center;*/
    /*vertical-align: middle;*/
}

#itenerary-column {
    height: 610px;
    min-height: 610px;
}

.category-div-wrapper { 
    /* -moz-border-radius: 5px; */
    overflow-x:scroll;
    float:left;
    width:100%;
    /*height: 185px;*/
    font-size: 0.7em;
 }

.scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space : nowrap; /* ! */
    width: 330px;
} 

#itenerary-column {
    border: none;
     overflow-y:auto;
    height:600px; 
    /*text-align: center;*/
    /*vertical-align: middle;*/
}

#map-column {
    position: relative;
}

#map-wrapper {
    height: 610px;
    border-bottom: 2px solid #ccc;
}

/* the map, of course */
#map {
    margin-top: 10px;
    height: 600px;    
}

.marker-label {
    border: 1px solid black;
    border-radius: 18px;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.itenerary-column-header {
    padding-bottom: 10px;
    text-align: center;
}


.major-column-header {
    text-align: center;
}


/* helper class for hiding */
.hidden {
    display: none;
}

/* buttons for landing page */
#landing-date-planning {


}

.addVenue {

    max-width: 30%;
    min-height: 100px;
    background-color: #428bca;
    opacity: 1;
    border-radius: 6px;
    margin-bottom: 2px;
    margin: 0px;
    padding:0px;

}

.VenueGroup {
    /*overflow:hidden;*/
    }

#venue1 {
    width:100%;
    /*overflow:hidden;*/
    float:left;
    margin: 0px;
    padding:0px;

    position: relative;

}

#venue2 {
width:100%;
    /*overflow:hidden;*/
    float:left;
   margin-left:0px;
    padding:0px;
    /*position: relative;*/

}

#venue3 {
   
  width:100%;
  margin-left: 0px;
    padding:0px;
    /*overflow:hidden;*/
    float:left;
    /*position: relative;*/
}

#category1params{

}

#category2params{
    
}

#category3params{
    
}

.price {
    float: right;
    margin: 0;

}

.trending {
    float: right;
    margin: 0;
}


.landing-form {
  width: 40%;
  height: 34px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.itenerary-item {
}

/* icon for third column */
.itenerary-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
}

.itenerary-option-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 0.8em;
    opacity: 0.9;
}

.loading {
  text-align: center; 
  width: 100%; 
  display: inline-block;
  /*display: inline;  */
}

.done_loading {
  display: none;
  width: 100%; 
}

.itenerary-item-text {
    font-size: 1.25em;
    text-align: left;
}

.itenerary-item-details {
    text-align: right;
    letter-spacing: 0.02em;
}

.itenerary-arrow-transition {
    text-align: center;
}

.popup-coffee-color .leaflet-popup-content-wrapper {
    background-color: rgba(255, 215, 128, 0.8);
}

.coffee-color {
    background-color: rgba(184, 138, 31, 0.8);
}

.park-color {
    background-color: rgba(0, 225, 75, 0.8);
}

.restaurant-color {
    background-color: rgba(225, 0, 25, 0.8);
}

.bar-color {
    background-color: rgba(222, 0, 214, 0.8);
}

.shopping-color {
    background-color: rgba(255, 106, 0, 0.8);
}

.outdoors-color {
    background-color: rgba(100, 150, 175, 0.8);
}

.sights-color {
    background-color: rgba(25, 25, 200, 0.8);
}

.hotspots-color {
    background-color: rgba(255, 31, 188, 0.8);
}

.category-options {
}

.place_thumbnail {
    float: left;
    width: 110px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    white-space: normal;
}

.thumb_personal {
  border: 2px solid orange;
  border-radius: 5px;
}

.thumb_suggested {
  border: 2px solid #428bca;
  border-radius: 5px;
}

.thumb_selected {
  border: 2px solid red;
  border-radius: 5px solid;
}

.thumb_personal:hover, .thumb_personal:focus,
.thumb_suggested:hover, .thumb_suggested:hover,
.thumb_selected:hover, .thumb_selected:hover {
  border: 2px solid LightGreen;
}

.clear_both { 
  clear: both; 
  padding: 3px;
}

.special-well {
  min-height: 20px;
  padding: 12px;
  margin-bottom: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.special-well-info {
  min-height: 36px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


#startTime:hover {
  border: 2px solid orange;
}

#endTime:hover {
  border: 2px solid orange;
}

#startTime{
    border:1px solid #cccccc;
}

#endTime{
    border:1px solid #cccccc;
}


.refresh-icon {
    display: inline-block;
    float: right;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.refresh-spinner {
  float: right;
}

.refresh-icon:hover,
.refresh-icon:focus {
    color: #888;
}

.category-header {
    font-size: 1.5em;
}

.heart-marker {
}

#notFound {
  color:rgb(240,0,50); 
  visibility: hidden;
  border-style: solid;
  border-radius: 10px;
  margin-left: 20px;
}





